In [3]:
# start SparkSession
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("project").getOrCreate()

In [4]:
#1. read in the merged dataset
data_df = spark.read\
  .format('csv')\
  .option('header', 'true')\
  .option('inferSchema', 'true')\
  .load('s3://bigdataproject233/millions.csv')

In [6]:
# data_df.show()

+--------------+-----+------------+--------------------+--------------------+-------+--------------------+--------------------+--------------------+--------------------+--------------------+----------------+--------------------+--------------------+
|            by|score|        time|           timestamp|               title|   type|                 url|                text|              parent|             deleted|                dead|     descendants|                  id|             ranking|
+--------------+-----+------------+--------------------+--------------------+-------+--------------------+--------------------+--------------------+--------------------+--------------------+----------------+--------------------+--------------------+
|         malyk| null|1511987746.0|2017-11-29 20:35:...|                null|comment|                null|That&#x27;s likel...|          15810293.0|                null|                null|            null|            15810594|                null|
|      wbracken| null|1318370168.0|2011-10-11 21:56:...|                null|comment|                null|Been wondering th...|           3100461.0|                null|                null|            null|             3100489|                null|
|         spang| null|1412189516.0|2014-10-01 18:51:...|                null|comment|                null|"Inbox | <a href=...| CA (Mission) or ...| and we&#x27;re l...| and that means w...| up all the time| and fast. We hav...| debugging runnin...|
|           nfm| null|1447539935.0|2015-11-14 22:25:...|                null|comment|                null|Yes, yes it is.<p...|          10567471.0|                null|                null|            null|            10567544|                null|
|            Mz| null|1287348341.0|2010-10-17 20:45:...|                null|comment|                null|Something he does...|           1800936.0|                null|                null|            null|             1801375|                null|
|   white-flame| null|1508730944.0|2017-10-23 03:55:...|                null|comment|                null|What social media...|          15530129.0|                null|                null|            null|            15530604|                null|
|       misha67| null|1484814021.0|2017-01-19 08:20:...|                null|comment|                null|            Honesty.|          13431903.0|                null|                null|            null|            13434058|                null|
|       Shoothe| null|1521393853.0|2018-03-18 17:24:...|                null|comment|                null|I can second this...|          16612801.0|                null|                null|            null|            16612997|                null|
|       rezaman| null|1551462440.0|2019-03-01 17:47:...|                null|comment|                null|"Housecall Pro | ...| we are focused o...| client-focused t...|          19281834.0|            null|                null|                null|
|      avallark| null|1533325502.0|2018-08-03 19:45:...|                null|comment|                null|At least its good...|          17681582.0|                null|                null|            null|            17682996|                null|
|        davidw| null|1447188265.0|2015-11-10 20:44:...|                null|comment|                null|You didn&#x27;t m...|          10542243.0|                null|                null|            null|            10542343|                null|
|  yummyfajitas| null|1421333945.0|2015-01-15 14:59:...|                null|comment|                null|The more ideas a ...|           8892690.0|                null|                null|            null|             8892746|                null|
|          jerf| null|1322010874.0|2011-11-23 01:14:...|                null|comment|                null|So, when going to...|           3267889.0|                null|                null|            null|             3268271|                null|
|     artpepper| null|1458958959.0|2016-03-26 02:22:...|                null|comment|                null|My wife has to de...|          11361797.0|                null|                null|            null|            11364165|                null|
|        yopiti|  1.0|1366032169.0|2013-04-15 13:22:...|Why disabling 3rd...|  story|http://www.spamco...|                null|                null|                null|                null|             0.0|             5551313|                null|
|frosted-flakes| null|1558493699.0|2019-05-22 02:54:...|                null|comment|                null|&gt; The coverup ...|          19974441.0|                null|                null|            null|            19977319|                null|
|           pvg| null|1548291454.0|2019-01-24 00:57:...|                null|comment|                null|<i>as evidenced b...|          18984941.0|                null|                null|            null|            18985009|                null|
|  mikethecoach|  1.0|1512673901.0|2017-12-07 19:11:...|How trainers and ...|  story|https://www.podbe...|                null|                null|                null|                True|            null|            15873005|                null|
|          frik|  2.0|1453546822.0|2016-01-23 11:00:...|AppDynamics CEO: ...|  story|http://venturebea...|                null|                null|                null|                null|             0.0|            10957977|                null|
|      gbookman| null|1256133970.0|2009-10-21 14:06:...|                null|comment|                null|If you took the L...|            894500.0|                null|                null|            null|              894655|                null|
+--------------+-----+------------+--------------------+--------------------+-------+--------------------+--------------------+--------------------+--------------------+--------------------+----------------+--------------------+--------------------+
only showing top 20 rows

In [5]:
data_df.count()

5642724

In [6]:
from pyspark.sql.types import IntegerType
from pyspark.sql.types import DoubleType

df_total = data_df.select(data_df['by'],
                     data_df['score'].cast(IntegerType()),
                     #data_df["time"],
                     data_df['timestamp'].cast('timestamp'),
                     data_df['title'],
                     data_df['type'],
                     data_df['url'],
                     data_df['text'],
                     data_df['parent'].cast(IntegerType()),
                     #data_df['deleted'],
                     #data_df['dead'],
                     data_df['descendants'].cast(IntegerType()),
                     data_df['id'].cast(IntegerType()),
                     data_df['ranking'].cast(IntegerType())
                             )

In [7]:
df_total.printSchema()

root
 |-- by: string (nullable = true)
 |-- score: integer (nullable = true)
 |-- timestamp: timestamp (nullable = true)
 |-- title: string (nullable = true)
 |-- type: string (nullable = true)
 |-- url: string (nullable = true)
 |-- text: string (nullable = true)
 |-- parent: integer (nullable = true)
 |-- descendants: integer (nullable = true)
 |-- id: integer (nullable = true)
 |-- ranking: integer (nullable = true)

In [8]:
df_total.show(10)

+-----------+-----+-------------------+-----+-------+----+--------------------+--------+-----------+--------+-------+
|         by|score|          timestamp|title|   type| url|                text|  parent|descendants|      id|ranking|
+-----------+-----+-------------------+-----+-------+----+--------------------+--------+-----------+--------+-------+
|      malyk| null|2017-11-29 20:35:46| null|comment|null|That&#x27;s likel...|15810293|       null|15810594|   null|
|   wbracken| null|2011-10-11 21:56:08| null|comment|null|Been wondering th...| 3100461|       null| 3100489|   null|
|      spang| null|2014-10-01 18:51:56| null|comment|null|"Inbox | <a href=...|    null|       null|    null|   null|
|        nfm| null|2015-11-14 22:25:35| null|comment|null|Yes, yes it is.<p...|10567471|       null|10567544|   null|
|         Mz| null|2010-10-17 20:45:41| null|comment|null|Something he does...| 1800936|       null| 1801375|   null|
|white-flame| null|2017-10-23 03:55:44| null|comment|null|What social media...|15530129|       null|15530604|   null|
|    misha67| null|2017-01-19 08:20:21| null|comment|null|            Honesty.|13431903|       null|13434058|   null|
|    Shoothe| null|2018-03-18 17:24:13| null|comment|null|I can second this...|16612801|       null|16612997|   null|
|    rezaman| null|2019-03-01 17:47:20| null|comment|null|"Housecall Pro | ...|    null|       null|    null|   null|
|   avallark| null|2018-08-03 19:45:02| null|comment|null|At least its good...|17681582|       null|17682996|   null|
+-----------+-----+-------------------+-----+-------+----+--------------------+--------+-----------+--------+-------+
only showing top 10 rows

In [9]:
data = df_total.createOrReplaceTempView('data')

In [10]:
# Filter Story data 
story = spark.sql('SELECT * FROM data WHERE type == "story"')
story.createOrReplaceTempView('story')

In [11]:
story.count()

842645

In [20]:
story.show(50)

+---------------+-----+-------------------+--------------------+-----+--------------------+--------------------+------+-----------+--------+-------+
|             by|score|          timestamp|               title| type|                 url|                text|parent|descendants|      id|ranking|
+---------------+-----+-------------------+--------------------+-----+--------------------+--------------------+------+-----------+--------+-------+
|         yopiti|    1|2013-04-15 13:22:49|Why disabling 3rd...|story|http://www.spamco...|                null|  null|          0| 5551313|   null|
|   mikethecoach|    1|2017-12-07 19:11:41|How trainers and ...|story|https://www.podbe...|                null|  null|       null|15873005|   null|
|           frik|    2|2016-01-23 11:00:22|AppDynamics CEO: ...|story|http://venturebea...|                null|  null|          0|10957977|   null|
|  athinggoingon|    2|2017-11-30 22:08:19|Regulation free z...|story|http://www.nextgo...|                null|  null|          0|15820036|   null|
|        rbanffy|    1|2019-02-06 13:07:36|Technologizing Ag...|story|https://cacm.acm....|                null|  null|          0|19094767|   null|
|         kushti|    1|2016-08-07 15:57:56|Why Logical Clock...|story|http://queue.acm....|                null|  null|          0|12242416|   null|
|       kingkilr|    2|2010-09-29 05:42:58|Dynamic and Stati...|story|http://alexgaynor...|                null|  null|          0| 1738424|   null|
|           null| null|2016-09-29 15:09:13|                null|story|                null|                null|  null|       null|12605848|   null|
|       auhlrich|    1|2017-03-19 00:22:48|Trump flanked by ...|story|https://redd.it/6...|                null|  null|       null|13904312|   null|
|CapitalistCartr|    2|2017-01-24 12:49:23|How Media Fuels O...|story|https://priceonom...|                null|  null|          0|13470880|   null|
|       iafrikan|    1|2019-05-14 21:54:18|WhatsApp Hacked, ...|story|https://www.iafri...|                null|  null|       null|19914229|   null|
|       thenomad|    1|2010-09-28 14:14:35|Simple guide to i...|story|http://www.mmomel...|                null|  null|          0| 1735733|   null|
|     prostoalex|  182|2016-02-18 18:24:14|Uber losing $1B a...|story|http://www.reuter...|                null|  null|        180|11127972|   null|
|  hollywoodcole|    4|2008-04-16 03:31:05|Why mod_rails is ...|story|http://www.pervas...|                null|  null|          1|  164846|   null|
|        greyman|   77|2009-10-23 11:05:58|Funny comparision...|story|http://tech.slash...|                null|  null|       null|  898545|   null|
|    wikimediapk|    1|2018-03-26 09:36:46|Capital TV Live W...|story|http://wikimedia....|                null|  null|       null|16677705|   null|
|          cr4zy|    7|2011-12-02 22:06:47|Verizon purchases...|story|http://www.reuter...|                null|  null|          0| 3305907|   null|
|    marvinpinto|    2|2017-10-18 14:31:03|Ontario will bid ...|story|https://www.thest...|                null|  null|          0|15499433|   null|
|        pirocks|    1|2019-04-26 09:13:20|The new kid in to...|story|https://qz.com/in...|                null|  null|          0|19755836|   null|
|   logiclogyinc|    1|2016-01-18 15:14:38|Programmers confe...|story|http://programmer...|                null|  null|       null|10924807|   null|
|         srikar|    2|2014-07-22 14:49:15|New Material Conv...|story|http://www.iflsci...|                null|  null|          0| 8069240|   null|
|     realpundit|    2|2014-08-10 23:07:57|Realtors who pay ...|story|http://www.realpu...|                null|  null|          0| 8161094|   null|
|        benwerd|    7|2012-08-09 06:36:20|How do Zynga empl...|story|http://www.quora....|                null|  null|          1| 4359846|   null|
|         Aarvay|    2|2011-10-25 09:17:30|The very first Dr...|story|http://dl.dropbox...|                null|  null|          0| 3153410|   null|
|    monty_singh|    1|2011-12-01 18:08:49|Twitter Launches ...|story|http://adage.com/...|                null|  null|          0| 3300710|   null|
|           null| null|2018-06-22 17:14:01|                null|story|                null|                null|  null|       null|17375636|   null|
|       fpereiro|    4|2012-07-11 10:04:01|Why you should al...|story|http://www.federi...|                null|  null|          0| 4228588|   null|
|    mmiliauskas|    2|2013-05-01 23:16:16|Ruby ebook for bu...|story|http://rubyebook....|                null|  null|          0| 5641442|   null|
|            ljk|    1|2015-12-02 18:39:17|Microsoft teases ...|story|http://www.geekwi...|                null|  null|          0|10664863|   null|
| biankabrainhub|    1|2018-11-15 15:42:59|React vs. Angular...|story|https://brainhub....|                null|  null|       null|18460102|   null|
|  trustfundbaby|    1|2011-11-23 19:50:55|The Science of Sa...|story|http://www.smiths...|                null|  null|          0| 3271435|   null|
|       lucierae|    1|2011-03-16 07:04:52|Bidz.com Brand Na...|story|http://www.bidz.c...|                null|  null|         -1| 2331137|   null|
|          ghosh|    2|2014-08-04 14:15:05|Wikipedia link hi...|story|http://m.bbc.com/...|                null|  null|          1| 8131795|   null|
|   vusalkarimli|    1|2013-05-05 17:01:13|Viral loop slides...|story|http://www.slides...|                null|  null|          0| 5658990|   null|
|     sohkamyung|    2|2016-09-09 09:13:18|Researchers proto...|story|http://phys.org/n...|                null|  null|          0|12460586|   null|
|         savydv|    2|2018-04-08 22:43:38|Community-curated...|story|https://engigogo....|                null|  null|          0|16788905|   null|
|         simvla|    1|2012-07-23 17:07:24|Simvla - The blog...|story|   http://simvla.com|Simvla cultivates...|  null|          0| 4281952|   null|
|         kurren|    3|2015-08-01 13:17:45|Not the retiring ...|story|http://www.thegua...|                null|  null|       null| 9986925|   null|
|        nocivus|    1|2009-12-18 12:53:46|Websockets tutori...|story|http://diffract.m...|                null|  null|          0| 1003025|   null|
|        nickles|    1|2016-02-01 19:31:38|Hints of heart tr...|story|http://www.wsj.co...|                null|  null|          0|11014667|   null|
|        rbanffy|    2|2015-02-15 16:07:46|A nose plugin for...|story|https://github.co...|                null|  null|          0| 9052957|   null|
|        urahara|    2|2017-09-16 18:09:40|An Ode to Acts of...|story|https://www.nytim...|                null|  null|          0|15265791|   null|
| wrongc0ntinent|    5|2015-05-15 18:02:01|Google versus Ora...|story|http://www.reuter...|                null|  null|          0| 9552413|   null|
|      VioletDIY|    1|2018-01-12 15:23:33|Anitta – Paradinh...|story|https://www.youtu...|                null|  null|       null|16133531|   null|
|     shawndumas|    2|2016-01-08 05:09:17|Asmodee becomes b...|story|http://arstechnic...|                null|  null|          0|10863060|   null|
|      linarilla|    1|2014-07-26 15:46:05|John Legend – All...|story|http://www.youtub...|                null|  null|       null| 8089954|   null|
|         mets86|    1|2016-09-16 13:20:55|Importance of Str...|story|http://www.dmaccl...|                null|  null|       null|12513752|   null|
|     CLOUDATLAS|    1|2015-12-02 11:02:37|Chance to win a c...|story|http://carfromjap...|                null|  null|       null|10662245|   null|
|         jkouns|    2|2016-08-17 07:50:23|Shadow Brokers: V...|story|https://www.riskb...|                null|  null|          0|12303070|   null|
|      dnwalters|    8|2010-05-30 18:55:28|37signals' Jason ...|story|http://techdrawl....|                null|  null|          0| 1390940|   null|
+---------------+-----+-------------------+--------------------+-----+--------------------+--------------------+------+-----------+--------+-------+
only showing top 50 rows

In [13]:
story.select("id").distinct().count()

4041

In [16]:
story.select("title").distinct().count()

3890

In [17]:
story.select("timestamp").distinct().count()

4073

In [16]:
title_df = spark.sql('select * from story where title is not NULL')

In [13]:
title_df.count()

797343

In [17]:
title_df.createOrReplaceTempView('title')

In [18]:
# check if there is score as NULL in the dataset where title is not NULL
spark.sql('select score from title where score is not NULL').count()

797343

In [42]:
#待完成
#url_df = spark.sql("select score, by as author, title, regexp_extract(url, '/(\w+):\/\/([^/:]+)(:\d*)?([^# ]*)/', 1) as url from title")

In [43]:
#url_df.select('url').show(2)

+---+
|url|
+---+
|   |
|   |
+---+
only showing top 2 rows

In [60]:
#score information
spark.sql("select min(score),max(score),avg(score) from title").collect()

[Row(min(score)=0, max(score)=1129, avg(score)=11.096693643764352)]

In [67]:
# author/user information 
# decending by total_score 
sqlStatement = """SELECT SUM(score) as total_score, by as author,
SUM(descendants) as total_decendants,
count(id) as total_stories
FROM title
GROUP BY author
ORDER BY total_score DESC
LIMIT 20
"""
user_df = spark.sql(sqlStatement)
user_df.createOrReplaceTempView("user")

In [68]:
user_df.show(10)

+-----------+---------------+----------------+-------------+
|total_score|         author|total_decendants|total_stories|
+-----------+---------------+----------------+-------------+
|     231445|        vassvdm|          164410|          205|
|     201925|    aarohmankad|           37310|          205|
|     149035|       brisance|           66010|          205|
|     131200|thereare5lights|           60270|          205|
|     124454|           bane|           31416|         1639|
|     123615|       Artemis2|           31775|          410|
|     123410|         Ours90|           39975|          205|
|     100040|            jgv|           12710|          205|
|      94915|       krausejj|           80975|          410|
|      86305|       riledhel|           39770|          205|
+-----------+---------------+----------------+-------------+
only showing top 10 rows

In [70]:
# author/user information 
# decending by total_stories 
sqlStatement = """SELECT SUM(score) as total_score, by as author,
SUM(descendants) as total_decendants,
count(id) as total_stories
FROM title
GROUP BY author
ORDER BY total_stories DESC
LIMIT 20
"""
user_df2 = spark.sql(sqlStatement)

In [71]:
user_df2.show(10)

+-----------+----------+----------------+-------------+
|total_score|    author|total_decendants|total_stories|
+-----------+----------+----------------+-------------+
|      12915|   rbanffy|            3690|         5535|
|      49405|     ingve|           21935|         2460|
|      25415|     evo_9|            5124|         2459|
|      39770|prostoalex|           36900|         2255|
|       4509|   jonbaer|             410|         2254|
|      11070|  jseliger|            4100|         2050|
|       9425|shawndumas|            1637|         2049|
|       2870|      cwan|             205|         1845|
|      13320|   dnetesn|           11070|         1844|
|      30135|    uptown|           47150|         1640|
+-----------+----------+----------------+-------------+
only showing top 10 rows

In [72]:
# author/user information 
# decending by avg_score 
sqlStatement = """SELECT SUM(score) as total_score, by as author,
SUM(descendants) as total_decendants, SUM(score)/count(id) as avg_score,
count(id) as total_stories
FROM title
GROUP BY author
ORDER BY avg_score DESC
LIMIT 20
"""
user_df3 = spark.sql(sqlStatement)

In [73]:
user_df3.show(10)

+-----------+---------------+----------------+---------+-------------+
|total_score|         author|total_decendants|avg_score|total_stories|
+-----------+---------------+----------------+---------+-------------+
|     231445|        vassvdm|          164410|   1129.0|          205|
|     201925|    aarohmankad|           37310|    985.0|          205|
|     149035|       brisance|           66010|    727.0|          205|
|     131200|thereare5lights|           60270|    640.0|          205|
|     123410|         Ours90|           39975|    602.0|          205|
|     100040|            jgv|           12710|    488.0|          205|
|      86305|       riledhel|           39770|    421.0|          205|
|      80155|          dnene|           45305|    391.0|          205|
|      76465|        dralley|           60065|    373.0|          205|
|      69905|           mxgr|           34645|    341.0|          205|
+-----------+---------------+----------------+---------+-------------+
only showing top 10 rows

In [88]:
# if there is bias on YC
sqlStatement = """
SELECT score, title,id
FROM `title`
WHERE title like "%Y Combinator%" or title like "%YCombinator%" or title like "%ycombinator%" or title like "%y combinator%"
ORDER BY score  DESC
"""
YC_df = spark.sql(sqlStatement)

In [89]:
YC_df.distinct().show()

+-----+--------------------+-------+
|score|               title|     id|
+-----+--------------------+-------+
|    3|Interview with Ca...|5955210|
|    1|TechStars and YCo...|  14062|
|    1|Rejected from Y C...|6797230|
+-----+--------------------+-------+

In [90]:
# stories of major companies over the year
# apple
sqlStatement = """
SELECT count(*) as total_stories, SUM(score) as total_score,
year(timestamp) as year
FROM title
WHERE title like "%apple%" or title like "%APPLE" or title like "%Apple"
GROUP BY year
ORDER BY year
"""
Comp_df1 = spark.sql(sqlStatement)

In [91]:
Comp_df1.distinct().show()

+-------------+-----------+----+
|total_stories|total_score|year|
+-------------+-----------+----+
|          205|        615|2012|
|          410|       1230|2013|
|          205|        205|2016|
+-------------+-----------+----+