In [1]:
# Starting SparkSession
import findspark
findspark.init()
from pyspark import SparkContext
sc = SparkContext()
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("project").getOrCreate()
sc = spark.sparkContext

In [ ]:
# Installing some packages
#!pip install wordcloud
#!pip install seaborn 
#!pip install pyspark_dist_explore

In [151]:
# Possible Choices 
#### 机器学习方面
# Ranking 和其他variable的关系 （ml）
# score和其他variables的关系  （ml）
# 上面的其中一个可以做分类 比如给定一篇文章 他成为top ranking 或者高分文章的可能性有多大
#### 整体趋势方面
# 统计词频 哪些词在哪一年出现的多 可画图 高频词出现变化图etc
# 活跃用户数等

In [6]:
# Importing libraries we need
import pyspark.sql.functions as f
import collections
import re
import numpy as np
import pyspark.sql as SQL
import pandas as pd
import matplotlib.pyplot as plt
import wordcloud
import seaborn as sns
from pyspark_dist_explore import hist
from pyspark.sql.types import IntegerType
from pyspark.sql.types import DoubleType
from pyspark.sql.functions import col
%matplotlib inline

In [3]:
#1. Reading dataset merged dataset
data_df = spark.read\
  .format('csv')\
  .option('header', 'true')\
  .option('inferSchema', 'true')\
  .load('s3://xinyuwang/finalproject/test.csv')

In [260]:
print('The total number of our dataset is {}'.format(data_df.count()))

The total number of our dataset is 56381

In [229]:
df1 = data_df.select(data_df['by'],
                     data_df['score'].cast(IntegerType()),
                     #data_df["time"],
                     data_df['timestamp'].cast('timestamp'),
                     data_df['title'],
                     data_df['type'],
                     data_df['url'],
                     data_df['text'],
                     data_df['parent'],
                     #data_df['deleted'],
                     #data_df['dead'],
                     data_df['descendants'],
                     data_df['id'].cast(IntegerType()),
                     data_df['ranking'].cast(IntegerType())   
                             )

In [221]:
df1.printSchema()

root
 |-- by: string (nullable = true)
 |-- score: integer (nullable = true)
 |-- timestamp: timestamp (nullable = true)
 |-- title: string (nullable = true)
 |-- type: string (nullable = true)
 |-- url: string (nullable = true)
 |-- text: string (nullable = true)
 |-- parent: integer (nullable = true)
 |-- descendants: string (nullable = true)
 |-- id: integer (nullable = true)
 |-- ranking: integer (nullable = true)

In [230]:
# Checking some basic information about our dataset
data = df1.createOrReplaceTempView('data')

In [257]:
# First, let's see about our users

In [231]:
user = spark.sql('SELECT DISTINCT by FROM data')
post_number = df1.count()
user_number = user.count()

In [256]:
print('There are {} posts during this period by {} users. \
\nThe average number of posts per user posted is {}'.format(post_number, user_number, user_number/post_number))

There are 56381 posts during this period by 17822 users.
The average number of posts per user posted is 0.31609939518632163

In [254]:
# Now, let's see how many posts those active users post 
user2 = spark.sql('SELECT by AS user, COUNT(by) AS count from data GROUP BY by ORDER BY count DESC LIMIT 20')

In [255]:
user2.show()

+-------------+-----+
|         user|count|
+-------------+-----+
|</code></pre>|  463|
|      tptacek|  116|
|     jacquesm|  102|
|      rbanffy|   90|
| dragonwriter|   76|
|         dang|   71|
|        pjmlp|   67|
|  dredmorbius|   60|
|      coldtea|   58|
|     brudgers|   54|
|    anigbrowl|   54|
|      mikeash|   52|
|        DanBC|   51|
|     TeMPOraL|   47|
|         jerf|   47|
|       Retric|   46|
|      rayiner|   44|
|  maxerickson|   43|
|  toomuchtodo|   41|
|  icebraining|   41|
+-------------+-----+

In [261]:
# Now let's see what about the time period

In [247]:
time = df1[df1['timestamp'].isNotNull()]
time = time.createOrReplaceTempView('time')

In [248]:
first_time = spark.sql('select timestamp from time order by timestamp limit 1')
first_time.show()

+-------------------+
|          timestamp|
+-------------------+
|2006-10-10 15:53:53|
+-------------------+

In [249]:
last_time = spark.sql('select timestamp from time order by timestamp desc limit 1')
last_time.show()

+-------------------+
|          timestamp|
+-------------------+
|2019-07-08 08:14:52|
+-------------------+

In [232]:
# Filter Story data 
story = spark.sql('SELECT * FROM data WHERE type == "story"')

In [238]:
story[story['parent'].isNotNull()].show()

+---------------+-----+-------------------+--------------------+-----+--------------------+--------------------+--------------------+--------------------+----+-------+
|             by|score|          timestamp|               title| type|                 url|                text|              parent|         descendants|  id|ranking|
+---------------+-----+-------------------+--------------------+-----+--------------------+--------------------+--------------------+--------------------+----+-------+
|     shizhilvyi|    1|2012-08-06 13:24:53|IBM Will Launch N...|story|http://www.hqew.n...|"According to the...| which will be mo...|                True|  -1|4345052|
|        leeskye|    4|2012-03-28 05:29:18|WPP CEO Martin So...|story|http://adage.com/...|"Who do you agree...|"" said Microsoft...| social benefits ...|null|   null|
|       olegious|   42|2012-06-17 22:13:56|Ask HN: Just orde...|story|                null|"Getting my new M...| VM (will run Ubu...|                null|  64|4123995|
|         tucson|    1|2011-07-01 17:09:49|Show HN: Facebook...|story|http://www.99like...|"Shows you how th...|000 websites are ...|                null|   0|2719160|
|     powdercake|    2|2009-09-28 16:04:27|Ask HN: My Bio on...|story|                null|"I resigned from ...| I can understand...|                null|null|   null|
|     photon_off|    1|2011-07-03 17:42:00|Ask HN:  What suc...|story|                null|"I'm thinking of ...| and how would yo...| and what feature...|null|   null|
|        pnathan|    2|2012-12-12 21:22:37|Ask HN: Ethical a...|story|                null|"I am working on ...| so I'm not 100% ...|                null|   2|4912535|
|         jstark|    1|2011-08-22 23:03:57|VW to unveil sing...|story|http://m.ft.com/c...|"Vollkswagen is p...|    ,,,,0.0,2914528,|                null|null|   null|
|         yarone|    2|2011-03-07 08:29:32|"Selling ""Used""...|story|                null|"Can I legally se...|      more generally|                null|null|      3|
|         kennae|    3|2013-03-09 00:11:06|Reply to “All the...|story|http://blog.marti...|"""Dear Mark Shut...|<p>so you “have a...|                null|null|      0|
|        cool-RR|    3|2009-12-17 16:21:14|Suggest HN: Algor...|story|                null|"(Reposting becau...| 18.75% of people...| it's gonna get c...|null|   null|
|    rojobuffalo|    2|2017-03-22 12:40:34|Show HN: Terrafar...|story|                null|"<a href=""https:...| register shareho...| and I&#x27;ll ac...|null|   null|
|     patent-101|    2|2011-08-05 15:31:47|Ask HN: Do you wa...|story|                null|"This is a throwa...|                MSFT|                null|null|      0|
|         fuxx0r|    1|2010-11-28 09:59:10|Ask HN: More nega...|story|                null|"I read HN since ...| iam so unmotivat...| you got tons of ...|null|   null|
|dreamingforward|    1|2012-04-28 17:48:38|         Internet2.0|story|                null|"The Internet is ...| but a content-la...| with the vector ...|null|   null|
|       heymatty|   73|2011-04-01 11:19:21|Ask HN: I'm givin...|story|                null|"I could go in a ...| raise money and ...|                null|null|     71|
|      grandsure|    5|2013-02-05 16:06:56|MIT withholds cer...|story|https://www.edx.o...|"""Note: At this ...| edX is holding c...|                null|null|   null|
|  pagecontrol01|    1|2009-02-06 08:30:13|Project Integrati...|story|http://www.pmtrai...|"Project managers...| published by the...|                null|null|   null|
|         schtog|    7|2008-06-08 18:46:19|Querying Google/a...|story|                null|"Googling ""query...|  but is it allowed?|                null|null|   null|
|         conoro|    3|2012-10-16 06:11:14|"Creator of groun...|story|http://www.giantb...|"Mike Singleton, ...|   has passed away."|                null|   0|4658633|
+---------------+-----+-------------------+--------------------+-----+--------------------+--------------------+--------------------+--------------------+----+-------+
only showing top 20 rows

In [234]:
# Filter comment data
comments = spark.sql('SELECT * FROM data WHERE type == "comment"')

In [236]:
comments.show()

+--------------+-----+-------------------+-----+-------+----+--------------------+--------------------+----------------+--------+-------+
|            by|score|          timestamp|title|   type| url|                text|              parent|     descendants|      id|ranking|
+--------------+-----+-------------------+-----+-------+----+--------------------+--------------------+----------------+--------+-------+
|         malyk| null|2017-11-29 20:35:46| null|comment|null|That&#x27;s likel...|          15810293.0|            null|15810594|   null|
|      wbracken| null|2011-10-11 21:56:08| null|comment|null|Been wondering th...|           3100461.0|            null| 3100489|   null|
|         spang| null|2014-10-01 18:51:56| null|comment|null|"Inbox | <a href=...| CA (Mission) or ...| up all the time|    null|   null|
|           nfm| null|2015-11-14 22:25:35| null|comment|null|Yes, yes it is.<p...|          10567471.0|            null|10567544|   null|
|            Mz| null|2010-10-17 20:45:41| null|comment|null|Something he does...|           1800936.0|            null| 1801375|   null|
|   white-flame| null|2017-10-23 03:55:44| null|comment|null|What social media...|          15530129.0|            null|15530604|   null|
|       misha67| null|2017-01-19 08:20:21| null|comment|null|            Honesty.|          13431903.0|            null|13434058|   null|
|       Shoothe| null|2018-03-18 17:24:13| null|comment|null|I can second this...|          16612801.0|            null|16612997|   null|
|       rezaman| null|2019-03-01 17:47:20| null|comment|null|"Housecall Pro | ...| we are focused o...|            null|    null|   null|
|      avallark| null|2018-08-03 19:45:02| null|comment|null|At least its good...|          17681582.0|            null|17682996|   null|
|        davidw| null|2015-11-10 20:44:25| null|comment|null|You didn&#x27;t m...|          10542243.0|            null|10542343|   null|
|  yummyfajitas| null|2015-01-15 14:59:05| null|comment|null|The more ideas a ...|           8892690.0|            null| 8892746|   null|
|          jerf| null|2011-11-23 01:14:34| null|comment|null|So, when going to...|           3267889.0|            null| 3268271|   null|
|     artpepper| null|2016-03-26 02:22:39| null|comment|null|My wife has to de...|          11361797.0|            null|11364165|   null|
|frosted-flakes| null|2019-05-22 02:54:59| null|comment|null|&gt; The coverup ...|          19974441.0|            null|19977319|   null|
|           pvg| null|2019-01-24 00:57:34| null|comment|null|<i>as evidenced b...|          18984941.0|            null|18985009|   null|
|      gbookman| null|2009-10-21 14:06:10| null|comment|null|If you took the L...|            894500.0|            null|  894655|   null|
|      Nwallins| null|2010-07-08 03:41:27| null|comment|null|&#62; <i>Option –...|           1496129.0|            null| 1496412|   null|
| jeffcutsinger| null|2013-02-02 02:34:14| null|comment|null|&#62; The fact is...|           5153092.0|            null| 5154881|   null|
|         xtacy| null|2011-01-31 21:33:47| null|comment|null|"It's an awesome ...|                thin|            null|    null|   null|
+--------------+-----+-------------------+-----+-------+----+--------------------+--------------------+----------------+--------+-------+
only showing top 20 rows

In [157]:
# Let's check some information about the title column
title_df = df1[df1['title'].isNotNull()]
title_df = title_df.withColumn('title_word_num', f.size(f.split(f.col('title'), ' ')))
title_df.show()

+--------------------+-----+-------------------+--------------------+--------------------+--------------------+--------------------+----------+-----------+--------+-------+--------------+
|                  by|score|          timestamp|               title|                type|                 url|                text|    parent|descendants|      id|ranking|title_word_num|
+--------------------+-----+-------------------+--------------------+--------------------+--------------------+--------------------+----------+-----------+--------+-------+--------------+
|              yopiti|    1|2013-04-15 13:22:49|Why disabling 3rd...|               story|http://www.spamco...|                null|      null|        0.0| 5551313|   null|            12|
|        mikethecoach|    1|2017-12-07 19:11:41|How trainers and ...|               story|https://www.podbe...|                null|      null|       null|15873005|   null|            10|
|                frik|    2|2016-01-23 11:00:22|AppDynamics CEO: ...|               story|http://venturebea...|                null|      null|        0.0|10957977|   null|             9|
|       athinggoingon|    2|2017-11-30 22:08:19|Regulation free z...|               story|http://www.nextgo...|                null|      null|        0.0|15820036|   null|             9|
|             rbanffy|    1|2019-02-06 13:07:36|Technologizing Ag...|               story|https://cacm.acm....|                null|      null|        0.0|19094767|   null|             2|
|              kushti|    1|2016-08-07 15:57:56|Why Logical Clock...|               story|http://queue.acm....|                null|      null|        0.0|12242416|   null|             5|
|            kingkilr|    2|2010-09-29 05:42:58|Dynamic and Stati...|               story|http://alexgaynor...|                null|      null|        0.0| 1738424|   null|             7|
|            auhlrich|    1|2017-03-19 00:22:48|Trump flanked by ...|               story|https://redd.it/6...|                null|      null|       null|13904312|   null|            10|
|     CapitalistCartr|    2|2017-01-24 12:49:23|How Media Fuels O...|               story|https://priceonom...|                null|      null|        0.0|13470880|   null|             7|
|   Drawing – Totally| null|               null|        Mono options|                 etc|                null|                null|      null|       null|    null|   null|             3|
|Think about it th...| null|               null| is a SUPERSET of...| if you are doing...| netstandard20. I...| MOST of those ca...|14297974.0|       null|14298302|   null|            33|
|            iafrikan|    1|2019-05-14 21:54:18|WhatsApp Hacked, ...|               story|https://www.iafri...|                null|      null|       null|19914229|   null|             4|
|            thenomad|    1|2010-09-28 14:14:35|Simple guide to i...|               story|http://www.mmomel...|                null|      null|        0.0| 1735733|   null|            12|
|          prostoalex|  182|2016-02-18 18:24:14|Uber losing $1B a...|               story|http://www.reuter...|                null|      null|      180.0|11127972|   null|             9|
|       hollywoodcole|    4|2008-04-16 03:31:05|Why mod_rails is ...|               story|http://www.pervas...|                null|      null|        1.0|  164846|   null|             8|
|             greyman|   77|2009-10-23 11:05:58|Funny comparision...|               story|http://tech.slash...|                null|      null|       null|  898545|   null|             9|
|         wikimediapk|    1|2018-03-26 09:36:46|Capital TV Live W...|               story|http://wikimedia....|                null|      null|       null|16677705|   null|            15|
|               cr4zy|    7|2011-12-02 22:06:47|Verizon purchases...|               story|http://www.reuter...|                null|      null|        0.0| 3305907|   null|             9|
|         marvinpinto|    2|2017-10-18 14:31:03|Ontario will bid ...|               story|https://www.thest...|                null|      null|        0.0|15499433|   null|            12|
|So I would defini...| null|               null|    IDs and labels."|          17026098.0|                null|                null|      null|       null|    null|   null|             4|
+--------------------+-----+-------------------+--------------------+--------------------+--------------------+--------------------+----------+-----------+--------+-------+--------------+
only showing top 20 rows

In [159]:
title = title_df.createOrReplaceTempView('title')

In [202]:
title_word1 = spark.sql('SELECT AVG(title_word_num) AS avg_num FROM title')
title_word1.show()

+-----------------+
|          avg_num|
+-----------------+
|8.061269656377402|
+-----------------+

In [203]:
title_word2 = spark.sql('SELECT score, AVG(title_word_num) AS avg_num FROM title GROUP BY score ORDER BY score DESC')
title_word2.show()

+-----+-------+
|score|avg_num|
+-----+-------+
| 1129|   13.0|
|  985|    3.0|
|  727|   10.0|
|  640|   13.0|
|  602|    8.5|
|  596|    4.0|
|  488|    1.0|
|  421|    4.0|
|  391|   11.0|
|  373|    6.0|
|  341|   10.5|
|  333|   11.0|
|  332|   10.0|
|  322|    8.0|
|  316|    9.0|
|  311|    8.0|
|  305|    5.0|
|  304|    7.0|
|  294|    4.0|
|  292|    7.0|
+-----+-------+
only showing top 20 rows

In [ ]:
# From the table above, we cannot see some clear relationship between those two variables.
# For further analysis, we may convert the score column to a categorical variable since it has wide range.

In [ ]:
#今日工作：

In [ ]:
#没解决的问题1 ：
#fillna 虽然不fillna也可以filter 但是可能fill了比较好 关联网页在这里
#http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrame.fillna

#我失败的代码
#df1.fillna({'score': 0})

#2.画图失败 
# 觉得可以加 score 的histgram comments&story按年份的统计图

In [85]:
# Let's making some analysis using this title column
title_list = list(df1.select('title').toPandas()['title'])

/home/hadoop/miniconda/lib/python3.6/site-packages/pyarrow/pandas_compat.py:752: FutureWarning: .labels was deprecated in version 0.24.0. Use .codes instead.
  labels, = index.labels

In [90]:
#Since there are none values in this list, we can create a new list to make sure that all elements are not empty
titles = []
for title in title_list:
    if title is None:
        continue
    titles.append(title)
titles[:10]

['Why disabling 3rd party cookies in Firefox 22 is a big mistake',
 'How trainers and coach can help align sales and marketing',
 'AppDynamics CEO: Don’t call my $2B company a unicorn',
 'Regulation free zones to allow testing of drone technology',
 'Technologizing Agriculture',
 'Why Logical Clocks Are Easy',
 'Dynamic and Static Programming Languages and Teaching',
 'Trump flanked by mushroom clouds, Nazi symbols on Phoenix billboard',
 'How Media Fuels Our Fear of Terrorism',
 ' Mono options']